/* VARIABLES */

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */

body {
  font-family: "Open Sans", sans-serif;
  color: #002d75;
}

a {
  text-decoration: none;
  color: #002d75;
}

/* HEADER */

header {
  background-color: #fff;
  text-align: center;
}

header .main-menu {
  list-style: none;
  padding: 20px 0;
}

header .main-menu li {
  display: inline-block;
  font-size: 20px;
  padding: 0 10px;
}

header .main-menu li a {
  color: #000;
  font-weight: bold;
}

header .main-menu li a:hover {
  color: #002d75;
}

/* MAIN */

main section {
  padding: 20px 0;
}

main section h2 {
  padding-left: 20px;
  color: #002d75;
}

main section .cards {
  display: flex;
  flex-wrap: wrap;
}

main section .cards .card {
  flex-basis: calc(100% / 3 - 40px);
  position: relative;
  margin: 20px;
}

main section .cards .card img {
  display: block;
  width: 100%;
  transition-duration: 0.5s;
  border-radius: 10px;
}

main section .cards .card .card-link {
  opacity: 0;
  transition: 0.5s linear all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main section .cards .card .card-link h3 {
  padding-bottom: 40px;
}

main section .cards .card .card-link h3 a {
  color: #000;
}

main section .cards .card:hover .card-link {
  opacity: 1;
}

main section .cards .card:hover img {
  transform: scale(1.1);
}

/* FOOTER */

