header {
    padding-top: 20px;
    background-color: #fff;
    text-align: center;
    .header-nav {
        i {
            font-size: 20px;
            padding: 20px 0;
            &:hover {
                cursor: pointer;
            }
        }
        .main-menu {
            display: none;
            padding-top: 40px;
            line-height: 60px;
            li {
                font-size: 20px;
                padding: 0 10px;
                a {
                    color: $link-color;
                    font-weight: bold;
                    &:hover {
                        color: $text-color-first;
                    }
                }
            }
            .active {
                background-color: $background-active;
            }
        }
        @include media($tablet) {
            .main-menu {
                display: flex;
                justify-content: center;
            }
            i {
                display: none;
            }
        }
    }
}
